span.colore {
	         color:#F4A460;
			 text-decoration:underline;
            }
#b
           {color:#8B008B;
		  
		  }

Body       {background-color:#DEB887;
          
		  }   

img		   {margin-left:500px;
          
		  }

h1		  {font-family:Century Gotic;
           font-size:44pt;
		   
          }		  