@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&display=swap');

body {
    background-color:#f8f8f8 ;
}

p{
    color:rgb(0, 0, 0);
    text-align: center;
    Font-Size:18px;
}

.logo{
    padding-right:15px;
    margin-top:20px;
    margin-left:10px;
    width: 85px;
    height:85px;
}

.titulo{ 
    color:#FFF;
    text-align: center;
    font-size: 40px;
    margin: 40px 0px;
}

Header{
    display:inline-flex;
    background-color: rgb(119, 7, 7);
    width: 100%;
    height: 50%;
    border-radius: 25px;
    font-family:Pixelify Sans;
    font-weight:500;
    box-shadow: 5px 5px 0px #000;
    /*para ver decorações de textos vá na mdn*/
}


nav{
    background-color: aliceblue;
    text-align: center;
    word-spacing: 5ch;
    width: 100%;
    height: 7%;
    margin-bottom: 15px;

}

section{
    width: 100%;
    height:70%;
    background-color: #fcfcfc;
    margin-bottom: 50px;
}

footer{
    background-color: gray;
    text-align: center;
    width: 100%;
    height:2.5%;
    margin-top:100px;  
    position: absolute;  
}

.play{
       color:#FFF;
       background-color:#002aff;
       height:30px;
       line-height:30px;
       display:inline-block;
       padding-left:10px;
       padding-right:10px;
       border-radius:20px;
       text-decoration:none;
       box-shadow: 3px 3px 0px #000 ;
 }

.xbo{
     color:#FFF;
     background-color:#4dff00;
     display:inline-block;
     height:30px;
     line-height:30px; 
     padding-left:10px;
     padding-right:10px;
     border-radius:20px;
     box-shadow: 3px 3px 0px #000 ;
     text-decoration:none;

 }

.nin{
     color:#FFF;
     background-color: #ff0000 ;
     display:inline-block;
     height:30px;
     line-height:30px;
     padding-left: 10px;
     padding-right:10px;
     border-radius:20px;
     box-shadow: 3px 3px 0px #000;
     text-decoration:none;
}

.Home{
    color:#FFF;
    background-color:#000000;
    height:30px;
    line-height:30px;
    display:inline-block;
    padding-left:10px;
    padding-right:10px;
    border-radius:20px;
    text-decoration:none;
    box-shadow: 3px 3px 0px #000 ;
}

.transitionSize{
    transition: transform 0.2s 0.2s;
}

.transitionSize:hover{
    transform: scale(1.2);
}

.transitionRotate{
    transition:1s ,width 2s ,height 2s;
}
.transitionRotate:hover{
    transform: rotateZ(360deg);
    width:110px;
    height:100px;
}

.animationFadein{
    animation: Fadein 2s linear;
}
 
@keyframes Fadein {
      from{opacity:0}
      To{opacity:1}
}

.Formato{
    margin-left: 20px;
    display:inline-block;
    background-color: #cecaca;
    padding: 10px 10px;
    border-radius: 5px;
    margin-top: 20px;
}

.jogos{
  
    width:200px;
    border-radius: 10px;
    margin: 10px 25px;
    align-items: center;
}

.preço{
    font-family:  monospace;
    font-size: 25px;
}

.controle{
    height:200px;
    width:300px;
    border-radius: 10px;
}


.FormatoCont{
    margin-left: 20px;
    display:inline-block;
    background-color: #cecaca;
    padding-top: 60px;
    border-radius: 5px;
    padding-left: 10px;
    padding-bottom: 13px;
    padding-right: 10px;
    margin-top: 20px;
    
}

.jogosN{
    Height:260px;
    width:200px;
    border-radius: 10px;
    margin: 10px 25px;
    align-items: center;
}

.fone{
    height:200px;
    width:200px;
    border-radius: 10px;
    margin: 10px 25px;
    align-items: center;
}

.controlex{
    height:250px;
    width:300px;
    border-radius: 10px;
}

.controlen{
    height:250px;
    width:400px;
    border-radius: 10px;
}

.controlN{
    height:500px;
    width:500px;
    border-radius: 10px;
}

.jogosG{
    Height:500px;
    width: 400px;
    border-radius: 10px;
    margin: 10px 25px;
    align-items: center;
    

}

.compra{
    display:flex;
    margin-right: 40%;
    margin-top: 5px;
    margin-bottom:0px;
    font-size: 28px;
    float:right;
}

.FormatoG{
    margin-left: 20px;
    display:inline-block;
    background-color: #cecaca;
    padding: 10px 10px;
    border-radius: 5px;
    margin-top: 5px;  
}


.text{
    display:inline-flex;
    margin-bottom:110px;
    margin-top:20px;
    font-size: 15px;
    position:absolute;
    text-align: justify;
    top: 410px;
    left:40%;
    width:50%;
}       

.textT{
    display:flex;
    margin-top: 5px;
    font-size: 20px;
    text-align: justify;
    margin-top: 30px;
    margin-right: 450px;
    margin-left: 50px;
    font-weight:bold;
    float:right;
}

.preçoP{
    display:flex;
    margin-right: 50%;
    margin-top: 40px;
    margin-bottom:50px;
    font-size: 28px;
    float:right;
}

.compraD{
    display:flex;
    margin-right: 56%;
    margin-top: 10px;
    margin-bottom:0px;
    font-size: 22px;
    float:right;
}

.comprar{
    display:flex;
    margin-right: 40%;
    margin-top: 5px;
    margin-bottom:0px;
    font-size: 28px;
    top:43%;
    left:42%;
    position: absolute;
    color:#ffffff;
    background-color: #ff7300 ;
    display:inline-block;
    height:30px;
    line-height:30px;
    padding-left: 10px;
    padding-right:10px;
    border-radius:9px;
    box-shadow: 3px 3px 0px #000;
    text-decoration:none;
}

.compral{
    display:flex;
    margin-right: 25%;
    margin-top: 5px;
    margin-bottom:0px;
    font-size: 28px;
    float:right;
}

#little{
    background-color: gray;
    text-align: center;
    width: 100%;
    height:20px;
    margin-top:8px;    
}

.textl{
    display:inline-flex;
    margin-bottom:110px;
    margin-top:20px;
    font-size: 20px;
    position:absolute;
    text-align: justify;
    top: 410px;
    left:40%;
    width:50%;
}

.compraS{
    display:flex;
    margin-right: 22%;
    margin-top: 5px;
    margin-bottom:0px;
    font-size: 28px;
    float:right;
}

    
.foth{
    background-color: gray;
    text-align: center;
    width: 100%;
    height:20px;
    margin-top:270px;    
}

.noMar{
    background-color: gray;
    text-align: center;
    width: 100%;
    height:20px;
    margin-top:30px;    
}

.longt{
    
        background-color: gray;
        text-align: center;
        width: 100%;
        height:20px;
        margin-top:250px;   
        
   
    }  